body {
    background-color: #1d2021;
    color: #ebdbb2;
}

a {
    color: #689d6a;
}

#image_box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#image_box figcaption{
    font-style: italic;
    text-align: center;
    padding: 8px;
}

